
.bg-main {
    background-color: rgb(245, 166, 185, 0.75);

    .article {
        background-color: white;

        .add-btn {
            .add-btn-icon {
                font-size: 1.75rem;
            }
        }
    }
}