.bg-main {
    background-color: rgb(245, 166, 185, 0.75);
  
    .article {
      background-color: white;
    }
  }
  
  .see-history-btn {
      color: blue;
      text-decoration: underline;
      font-size: 0.75rem;
  }